@import "@/styles/styles"; 

.header{
  height: 80px;
  background-color: $bg;
  color: $txtWhite;
  display: flex;
  align-items: center;
  width: 100%;
  .container{
    display: flex;
    gap: 20px;
    @include container(900px);
    .link{
      // &:active{
      //   color:antiquewhite;
      //   text-decoration: underline;
      // }
    }
  };  
}
@media (max-width: 1024px) {
  .container {
    @include container(600px);
  }
}
