@import "@/styles/styles"; 

.container{
  min-height: calc(100vh - 160px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @include container(900px)
};  
@media (max-width: 1024px) {
  .container{
    @include container(600px);
  }
}
