@import "@/styles/styles"; 

.footer{
  height: 80px;
  background-color: $bg;
  color: $txtWhite;
  display: flex;
  align-items: center;
  width: 100%;
  .container{
    @include container(900px)
  };  
}
@media (max-width: 1024px) {
  .container {
    @include container(600px);
  }
}
